body {
    background-size: 200% 200%;
    color: silver;
    background-color: #4c1a4b;
}


#results_table{
  margin-top: 40px;
  border-collapse:separate; 
  table-layout:fixed; 
  width:50%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  margin-bottom: 50px;
}
#results_table_arr{
  margin-top: 50px;
  border-collapse:separate; 
  table-layout:fixed; 
  width:10%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  margin-bottom: 50px;
}
#results_table_spec{
  margin-top: 40px;
  border-collapse:separate; 
  table-layout:fixed; 
  width:35%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  margin-bottom: 50px;
}
table td{
  word-wrap: break-word;
  white-space: pre-wrap;
  text-align: left;
  border: 2px solid black;
}

#table_data_arr{
  text-align: center;
}

form{
  text-shadow: 10px 10px 5px #111111b5;;
}
#home_head, #home_paragraph {
  text-align: center;
  margin: 40px;
  text-shadow: 18px 18px 20px #111111b5;
}
#big{
  size: 400%;
  text-align: center;
  text-shadow: 18px 18px 20px #111111b5;
  margin: 60px;
}

tr:nth-child(even) {background-color:#1b101a;}
tr:nth-child(odd) {background-color:#2c282c;}
tr:first-child {
  background:#381235;
  opacity: 90%;
    
}


#genericbck{background:#E2E2E2;}

