<div>
    <ul class="topbar">
      <li class="topbar_entry">
          <a class="topbar_entry_text" routerLink="/home">Home</a>
      </li>
  
      <li class="topbar_entry">
          <div class="dropdown">
              <a class="topbar_entry_text" href="#">Enumerate Data</a>
              <div class="dropdown-content">
                  <a routerLink="/data">All data</a>
                  <a href="/scddata">Subject Codes & Desciptions</a>
                  <a href="/whatdoihavethisweek">Show Weekly Schedule</a>
                  <a href="/schedules">Schedules</a>
              </div>
          </div>
      </li>
  
      <li class="topbar_entry">
          <div class="dropdown">
              <a class="topbar_entry_text" href="#">Search</a>
              <div class="dropdown-content">
                  <a href="/searchcoursecodes">Search Course Codes</a>
                  <a href="/searchforentry">Search for Entry</a>
                  <a href="/searchforschedule">Search for Schedule</a>
  
              </div>
          </div>
      </li>
  
      <li class="topbar_entry">
          <div class="dropdown">
              <a class="topbar_entry_text" href="#">Scheduling</a>
              <div class="dropdown-content">
                  <a href="/createschedule">Create Schedule</a>
                  <a href="/addtoschedule">Add to Schedule</a>
                  <a href="/deleteschedule">Delete a Schedule</a>
                  <a href="/deleteschedules">Delete All Schedules</a>
              </div>
          </div>
      </li>
  </ul>
  </div>