<div>
    <ul class="topbar">
        <li class="topbar_entry">
            <a class="topbar_entry_text" routerLink="/home">Home</a>
        </li>

        <li class="topbar_entry">
            <div class="dropdown">
                <a class="topbar_entry_text" href="#">Enumerate Data</a>
                <div class="dropdown-content">
                    <a routerLink="/data">All data</a>
                    <a routerLink="/scddata">Subject Codes & Desciptions</a>
                    <a routerLink="/whatdoihavethisweek">Show Weekly Schedule</a>
                    <a routerLink="/schedules">Schedules</a>
                </div>
            </div>
        </li>

        <li class="topbar_entry">
            <div class="dropdown">
                <a class="topbar_entry_text" href="#">Search</a>
                <div class="dropdown-content">
                    <a routerLink="/searchcoursecodes">Search Course Codes</a>
                    <a routerLink="/searchforentry">Search for Entry</a>
                    <a routerLink="/searchforschedule">Search for Schedule</a>

                </div>
            </div>
        </li>

        <li class="topbar_entry">
            <div class="dropdown">
                <a class="topbar_entry_text" href="#">Scheduling</a>
                <div class="dropdown-content">
                    <a routerLink="/createschedule">Create Schedule</a>
                    <a routerLink="/addtoschedule">Add to Schedule</a>
                    <a routerLink="/deleteschedule">Delete a Schedule</a>
                    <a routerLink="/deleteschedules">Delete All Schedules</a>
                </div>
            </div>
        </li>
    </ul>
</div>