<p class="search_box_header">Please Enter Query</p>
<div class="search_line1">
    <form method="GET">
        <div class='nowarpline'>
            Subject code:
            <input name="sc" class="search_box1" type="text" required>
        </div>
        <div class='nowarpline'>
            Course code:
            <input name="cc1" class="search_box1" type="text" required>
        </div>
        <div id='nowarpline'>
            Course Component (Optional):
            <input name="cc2" class="search_box1" type="text">
        </div>
        <div class="nowarpline">
            <div class="space"></div>
            <button class="search_button1" formmethod="POST">Search</button>
        </div>
    </form>   
</div>