.search_box_header{
    margin-top: 30px;
    text-align: center;
    text-shadow: 18px 18px 13px #111111c5;
    
  }
 .search_line1 {
    display: initial;
    text-align: center;
    white-space: nowrap;
  }
  .search_box1 {
    margin-top: 10px;  
    border-radius: 13px;
    margin-right: 10px;
    box-shadow: 18px 18px 20px #111111b5;
    border-style: ridge;
    padding: 5px;
    background: rgba(255,255,255,0.5);
    border-color:seashell;
    border-width: 5px;
    
  }
  .search_box1:focus{
    outline: none;
    background-color: whitesmoke;
  }
  .search_button1{
    
    border-radius: 10px;
    box-shadow: 18px 18px 20px #111111b5;
  }
  .search_button1:focus{
    outline: none;
    background-color:whitesmoke;
  }
  div{
    width:60%;
    margin: auto; 
    padding-top: 30px;
    text-align: center;
  }
  